<div id="<%= dom_id service %>">
  <p>
    <strong>Title:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= service.slug %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= service.icon %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= service.sub_title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= service.body %>
  </p>

  <p>
    <strong>Serviceimg:</strong>
    <%= service.serviceimg %>
  </p>

</div>
