<div id="<%= dom_id faq %>">
  <p>
    <strong>Title:</strong>
    <%= faq.title %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= faq.icon %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= faq.body %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= faq.slug %>
  </p>

</div>
