<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= blog.sub_title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

  <p>
    <strong>Blogimg:</strong>
    <%= blog.blogimg %>
  </p>

  <p>
    <strong>Videolink:</strong>
    <%= blog.videolink %>
  </p>

  <p>
    <strong>Blogvideoimg:</strong>
    <%= blog.blogvideoimg %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= blog.slug %>
  </p>

</div>
