<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :sub_title, style: "display: block" %>
    <%= form.text_field :sub_title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :blogimg, style: "display: block" %>
    <%= form.text_field :blogimg %>
  </div>

  <div>
    <%= form.label :videolink, style: "display: block" %>
    <%= form.text_field :videolink %>
  </div>

  <div>
    <%= form.label :blogvideoimg, style: "display: block" %>
    <%= form.text_field :blogvideoimg %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
