<section class="inner_page_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="breadcrumb_content">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to root_path do %>Home<% end %></li>
            <li class="breadcrumb-item"><%= @blog.title %></li>

          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Terms & Conditions -->
<section class="blog_post_container pt30 pb80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
        <div class="main-title text-center">
          <h2 class="title"><%= @blog.title %></h2>
        </div>
      </div>
    </div>
    <div class="row mt50">
      <div class="col-lg-4 col-xl-3">
        <div class="sidebar_search_widget mb30">
          <div class="blog_search_widget">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username">
            </div>
          </div>
        </div>
        <div class="terms_condition_widget">
          <h4 class="title">More Links</h4>
          <div class="widget_list">
            <ul class="list_details">
              <% @abouts.each do |a| %>
              <li><%= a.title, a %></li>
              <% end %>

            </ul>
          </div>
        </div>
        <div class="terms_condition_widget">
          <h4 class="title">Services</h4>
          <div class="widget_list">
            <ul class="list_details">
              <% @services.each do |a| %>
              <li><%= a.title, a %></li>
              <% end %>

            </ul>
          </div>
        </div>
        <div class="sidebar_feature_listing">
          <h4 class="title">Recent Posts</h4>
`
          `<% @blogs.take(5).each do |a| %>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="align-self-start mr-3" src="<%= asset_path "blog/s1.jpg" %>" alt="s1.jpg">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="post_title"><%= link_to a.title, a %></h5>
              <a href="#"><%= a.created_at %>
              </a>
            </div>
          </div>
          <% end %>
        </div>

      </div>
      <div class="col-lg-8 col-xl-9">
        <div class="row">
          <div class="col-xl-10 m-auto pt30">
            <div class="main-title">
              <h2><%= @blog.title %></h2>
            </div>
            <div class="about_us_content mb30 mt15">
              <h4 class="title"><%= @blog.sub_title %>.</h4>
              <p><%= raw(@blog.body) %></p>
            </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
