<div id="<%= dom_id banner %>">
  <p>
    <strong>Title:</strong>
    <%= banner.title %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= banner.sub_title %>
  </p>

  <p>
    <strong>Bannerimg:</strong>
    <%= banner.bannerimg %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= banner.slug %>
  </p>

</div>
