<% if Blog.exists? %>
<section class="our-blog pt20 pb70">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <% @headers.each do |a| %>
        <div class="main-title text-center text-sm-start mb10">
          <h2><%= a.blogs_title %></h2>
        </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <div class="main-title text-center text-sm-end mb-5">
          <%= link_to blogs_path, class: "itle_more_btn mt10" do %>
          View More <% end %>
        </div>
      </div>
    </div>
    <div class="row">

      <% @blogs.take(3).each do |a| %>
      <div class="col-md-6 col-xl-4">
        <div class="for_blog">
          <div class="thumb">
            <img class="img-whp" src="<%= a.blogimg_url.to_s %>" alt="1.jpg">
          </div>
          <div class="details">
            <div class="tc_content">
              <span class="subtitle"><%= a.sub_title %></span>
              <h4 class="title"><%= link_to a.title, a %></h4>
              <span class="post_date"><%= a.created_at %></span>
            </div>
          </div>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</section>

<% else %>
<!-- Blog Posts  -->
<section class="our-blog pt20 pb70">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="main-title text-center text-sm-start mb10">
          <h2>Blog Posts</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="main-title text-center text-sm-end mb-5">
          <a class="title_more_btn mt10" href="page-shop-list-v2.html">See All</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="for_blog">
          <div class="thumb">
            <img class="img-whp" src="<%= asset_path "blog/1.jpg"%>" alt="1.jpg">
          </div>
          <div class="details">
            <div class="tc_content">
              <span class="subtitle">Tips & Tricks</span>
              <h4 class="title"><a href="#">Collar brings back coffee brewing ritual</a></h4>
              <span class="post_date">April 06, 2022</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="for_blog">
          <div class="thumb">
            <img class="img-whp" src="<%= asset_path "blog/2.jpg"%>" alt="2.jpg">
          </div>
          <div class="details">
            <div class="tc_content">
              <span class="subtitle">Tips & Tricks</span>
              <h4 class="title"><a href="#">How to Enjoy Your Favorite Things Every Day</a></h4>
              <span class="post_date">April 06, 2022</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="for_blog">
          <div class="thumb">
            <img class="img-whp" src="<%= asset_path "blog/3.jpg"%>" alt="3.jpg">
          </div>
          <div class="details">
            <div class="tc_content">
              <span class="subtitle">Tips & Tricks</span>
              <h4 class="title"><a href="#">Identify Your Real Treasures and Finally Let Go</a></h4>
              <span class="post_date">April 06, 2022</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% end %>
