  <% @categories.each do |category| %>
  <li>
    <a class="dropdown" href="#">

      <span class="menu-icn <%= category.icon %>"></span>
      <span class="menu-title"><%= category.name %></span>
    </a>
    <div class="drop-menu">


      <div class="one-third">
         <ul class="mb20">
          <li><%= link_to "Goto Category", category %></li>
        </ul>
        <div class="cat-title"><%= category.name %></div>

        <ul class="mb0">
           <% category.sub_categories.each do |sub_category| %>
          <li><%= link_to sub_category.name, category_sub_category_path(category, sub_category) %></li>
        <% end %>
        </ul>
      </div>

      <div class="row">
        <div class="banner_one megamenu_style home1_style color1 mb30">
          <div class="thumb style1">
            <img class="float-end" src="<%= category.cateimg_url.to_s%>" alt="smartwatch">
          </div>
          <div class="details">
            <h3 class="title"><%= category.title %></h3>
            <%= link_to category, class: "shop_btn" do %>
          Shop Now<% end %>
          </div>
      </div>

    </div>
  </li>
  <% end %>
