<div id="<%= dom_id help %>">
  <p>
    <strong>Title:</strong>
    <%= help.title %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= help.sub_title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= help.body %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= help.slug %>
  </p>

</div>
