<div id="<%= dom_id about %>">
  <p>
    <strong>Title:</strong>
    <%= about.title %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= about.sub_title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= about.body %>
  </p>

  <p>
    <strong>Abtimg:</strong>
    <%= about.abtimg %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= about.slug %>
  </p>

</div>
