<div id="<%= dom_id feedback %>">
  <p>
    <strong>Title:</strong>
    <%= feedback.title %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= feedback.icon %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= feedback.body %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= feedback.slug %>
  </p>

</div>
