<%= form_with(model: header) do |form| %>
  <% if header.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(header.errors.count, "error") %> prohibited this header from being saved:</h2>

      <ul>
        <% header.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :abouts_title, style: "display: block" %>
    <%= form.text_field :abouts_title %>
  </div>

  <div>
    <%= form.label :abouts_sub_title, style: "display: block" %>
    <%= form.text_field :abouts_sub_title %>
  </div>

  <div>
    <%= form.label :services_title, style: "display: block" %>
    <%= form.text_field :services_title %>
  </div>

  <div>
    <%= form.label :services_sub_title, style: "display: block" %>
    <%= form.text_field :services_sub_title %>
  </div>

  <div>
    <%= form.label :boards_title, style: "display: block" %>
    <%= form.text_field :boards_title %>
  </div>

  <div>
    <%= form.label :boards_sub_title, style: "display: block" %>
    <%= form.text_field :boards_sub_title %>
  </div>

  <div>
    <%= form.label :features_title, style: "display: block" %>
    <%= form.text_field :features_title %>
  </div>

  <div>
    <%= form.label :features_sub_title, style: "display: block" %>
    <%= form.text_field :features_sub_title %>
  </div>

  <div>
    <%= form.label :feedbacks_title, style: "display: block" %>
    <%= form.text_field :feedbacks_title %>
  </div>

  <div>
    <%= form.label :feedbacks_sub_title, style: "display: block" %>
    <%= form.text_field :feedbacks_sub_title %>
  </div>

  <div>
    <%= form.label :blogs_title, style: "display: block" %>
    <%= form.text_field :blogs_title %>
  </div>

  <div>
    <%= form.label :blogs_sub_title, style: "display: block" %>
    <%= form.text_field :blogs_sub_title %>
  </div>

  <div>
    <%= form.label :cta1, style: "display: block" %>
    <%= form.text_field :cta1 %>
  </div>

  <div>
    <%= form.label :cta2, style: "display: block" %>
    <%= form.text_field :cta2 %>
  </div>

  <div>
    <%= form.label :headerimg, style: "display: block" %>
    <%= form.text_field :headerimg %>
  </div>

  <div>
    <%= form.label :products_title, style: "display: block" %>
    <%= form.text_field :products_title %>
  </div>

  <div>
    <%= form.label :products_sub_title, style: "display: block" %>
    <%= form.text_field :products_sub_title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
