<div id="<%= dom_id support %>">
  <p>
    <strong>Title:</strong>
    <%= support.title %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= support.sub_title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= support.body %>
  </p>

  <p>
    <strong>Help:</strong>
    <%= support.help_id %>
  </p>

</div>
