<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Prodimage:</strong>
    <%= product.prodimage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Sub category:</strong>
    <%= product.sub_category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>

</div>
