
          <div class="row">
            <div class="col-xl-12">
              <div class="dashboard_product_list account_user_deails">

                <div class="row d-block d-sm-flex justify-content-center justify-content-sm-between">
                  <div class="col-sm-6 col-lg-3">
                    <div class="dashboard_page header_search_widget mb30 mb15-520">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search product" aria-label="Recipient's username">
                        <div class="input-group-append">
                          <button class="btn" type="button"><span class="fa fa-search"></span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="dashboard_page sidebar_location_filter mb30 mb5-520">
                      <!-- <div class="form-group">
                        <div class="checkout_country_form actegory">
                          <select class="selectpicker show-tick">
                            <option>Select Category</option>
                            <option value="Computers">Computers</option>
                            <option value="Technologies">Technologies</option>
                            <option value="electronic">electronic</option>
                            <option value="Home&Kitchen">Home & Kitchen</option>
                            <option value="Clothing&Accessories">Clothing & Accessories</option>
                            <option value="Babies&Moms">Babies & Moms</option>
                            <option value="Health&Beauty">Health & Beauty</option>
                          </select>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="dashboard_page sidebar_location_filter mb30 mb5-520">
                      <!-- <div class="form-group">
                        <div class="checkout_country_form">
                          <select class="selectpicker show-tick">
                            <option>Status</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Cancel">Cancel</option>
                            <option value="InProgress">In Progress</option>
                          </select>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="dashboard_page_add_listing text-center text-lg-end mb30 mb15-520 d-grid">

                      <%= link_to new_product_path, class: "btn btn-new btn-lg btn-thm" do %>
                      Add New Products <% end %>
                    </div>
                  </div>
                </div>
                <div class="order_table table-responsive">
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% if Product.where(user_id: current_user.id).exists? %>
                      <% @products.each do |product| %>
                      <tr>
                        <th scope="row">#<%= product.id %></th>
                        <td><%= product.name %>-<%= product.title %></td>
                        <td><%= product.sku %></td>

                        <td class="status"><span class="style4">for Sale</td>


                        <td><%= number_to_currency(product.price) %></td>
                        <td> <%= product.category.name %> / <%= product.sub_category.name %></td>
                        <td class="action"><span><%= product.created_at.strftime('%Y-%m-%d') %></span></td>
                        <td class="editing_list align-middle">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <%= link_to edit_product_path(product), class: "tooltip-toggle", data: { bs_toggle: "tooltip", bs_placement: "top", bs_original_title: "View" }, title: "Edit", aria: { label: "View" } do %>
                                <span class="flaticon-pencil"></span>
                              <% end %>
                             </li>
                            <li class="list-inline-item mb-1">
                              <%= link_to product_path(product), class: "tooltip-toggle", data: { bs_toggle: "tooltip", bs_placement: "top", bs_original_title: "Edit", confirm: "Are you sure?" }, title: "Delete", aria: { label: "Edit" }, method: :delete do %>
                                <span class="flaticon-delete"></span>
                              <% end %>


                                </li>
                          </ul>
                        </td>
                      </tr>

                      <% end %>

                      <% else %>
                      <tr>
                        <th scope="row">#1923</th>
                        <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                        <td>AB123456789-1</td>
                        <td class="status"><span class="style2">Out Stock</span></td>
                        <td>$250</td>
                        <td>Computers, Technologies, electronic</td>
                        <td class="action"><span>Aug 15, 2022</span></td>
                        <td class="editing_list align-middle">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="View" aria-label="View"><span class="flaticon-pencil"></span></a>
                            </li>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Edit" aria-label="Edit"><span class="flaticon-delete"></span></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#1923</th>
                        <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                        <td>AB123456789-1</td>
                        <td class="status"><span class="style4">Stock</span></td>
                        <td>$250</td>
                        <td>Computers, Technologies, electronic</td>
                        <td class="action"><span>Aug 15, 2022</span></td>
                        <td class="editing_list align-middle">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="View" aria-label="View"><span class="flaticon-pencil"></span></a>
                            </li>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Edit" aria-label="Edit"><span class="flaticon-delete"></span></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#1923</th>
                        <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                        <td>AB123456789-1</td>
                        <td class="status"><span class="style2">Out Stock</span></td>
                        <td>$250</td>
                        <td>Computers, Technologies, electronic</td>
                        <td class="action"><span>Aug 15, 2022</span></td>
                        <td class="editing_list align-middle">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="View" aria-label="View"><span class="flaticon-pencil"></span></a>
                            </li>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Edit" aria-label="Edit"><span class="flaticon-delete"></span></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#1923</th>
                        <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                        <td>AB123456789-1</td>
                        <td class="status"><span class="style4">Stock</span></td>
                        <td>$250</td>
                        <td>Computers, Technologies, electronic</td>
                        <td class="action"><span>Aug 15, 2022</span></td>
                        <td class="editing_list align-middle">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="View" aria-label="View"><span class="flaticon-pencil"></span></a>
                            </li>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Edit" aria-label="Edit"><span class="flaticon-delete"></span></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#1923</th>
                        <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                        <td>AB123456789-1</td>
                        <td class="status"><span class="style2">Out Stock</span></td>
                        <td>$250</td>
                        <td>Computers, Technologies, electronic</td>
                        <td class="action"><span>Aug 15, 2022</span></td>
                        <td class="editing_list align-middle">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="View" aria-label="View"><span class="flaticon-pencil"></span></a>
                            </li>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Edit" aria-label="Edit"><span class="flaticon-delete"></span></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#1923</th>
                        <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                        <td>AB123456789-1</td>
                        <td class="status"><span class="style4">Stock</span></td>
                        <td>$250</td>
                        <td>Computers, Technologies, electronic</td>
                        <td class="action"><span>Aug 15, 2022</span></td>
                        <td class="editing_list align-middle">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="View" aria-label="View"><span class="flaticon-pencil"></span></a>
                            </li>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Edit" aria-label="Edit"><span class="flaticon-delete"></span></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#1923</th>
                        <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                        <td>AB123456789-1</td>
                        <td class="status"><span class="style2">Out Stock</span></td>
                        <td>$250</td>
                        <td>Computers, Technologies, electronic</td>
                        <td class="action"><span>Aug 15, 2022</span></td>
                        <td class="editing_list align-middle bb1">
                          <ul>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="View" aria-label="View"><span class="flaticon-pencil"></span></a>
                            </li>
                            <li class="list-inline-item mb-1">
                              <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Edit" aria-label="Edit"><span class="flaticon-delete"></span></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>






                <div class="mbp_pagination mt30 text-center">
                  <ul class="page_navigation">
                    <li class="page-item">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="fas fa-angle-left"></span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                    </li>
                  </ul>
                  <p class="mt20 pagination_page_count text-center">1 – 20 of 300+ properties found</p>
                </div>
              </div>
            </div>
          </div>
