<!DOCTYPE html>
<html>
  <head>
    <%  @welcomes = Welcome.all  %>
    <% @welcomes.take(1).each do |w| %>
    <title><%=w.title %> || <%= w.desc %> </title>
    <meta name="description" content="<%= w.desc %>">
    <meta name="keywords" content="<%= w.section %>">

    <% end %>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.svg') %>

    <meta name="theme-color" content="#ffffff">


    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path'favicon.svg' %>" type="image/png">
    <link rel="icon" href="<%= asset_path'favicon.svg' %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/670d9d022480f5b4f58d625d/1ia6iqkpn';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </head>

  <body>

    <%= custom_bootstrap_flash %>


    <% @abouts = About.all.order('created_at ASC') %>
    <% @services = Service.all.order('created_at ASC') %>
    <% @welcomes = Welcome.all %>
    <% @headers = Header.all %>
    <%  @orders = Order.where(user_id: current_user).order('created_at ASC') %>
    <% @products = Product.where(user_id: current_user).order('created_at ASC') %>
    <% @wallets = Wallet.where(user_id: current_user).order('created_at ASC') %>

    <% @faqs = Faq.all.order('created_at ASC') %>

    <div class="wrapper ovh ">
      <div class="preloader"></div>


      <%= render "shared/menu" %>
      <div class="dashboard_content_wrapper">
        <div class="dashboard dashboard_wrapper pr30 pr0-md">
        <%= render "shared/sidebar" %>
          <%= yield %>
        </div>
        </div>



    </div>


    <%= javascript_include_tag 'script' %>
    <%= javascript_include_tag 'dashboard-script' %>

    <!-- <script>

        document.addEventListener("DOMContentLoaded", function() {
          // Pie chart
          new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
              labels: ["Direct", "Affiliate", "E-mail", "Other"],
              datasets: [{
                data: [2602, 1253, 541, 1465],
                backgroundColor: [
                  window.theme.primary,
                  window.theme.warning,
                  window.theme.danger,
                  "#E8EAED"
                ],
                borderWidth: 5,
                borderColor: window.theme.white
              }]
            },
            options: {
              responsive: !window.MSInputMethodContext,
              maintainAspectRatio: false,
              cutoutPercentage: 70,
              legend: {
                display: false
              }
            }
          });
        });
    </script> -->

  </body>
</html>
