<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Axis" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://atugatran.github.io/FontAwesome6Pro/css/all.min.css" >
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/670d9d022480f5b4f58d625d/1ia6iqkpn';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </head>

  <body>
    <% @abouts = About.all.order('created_at DESC') %>
    <% @services = Service.all.order('created_at DESC') %>
    <% @welcomes = Welcome.all %>
    <% @headers = Header.all %>
    <% @blogs = Blog.all %>
    <% @faqs = Faq.all.order('created_at ASC') %>

    <div class="wrapper ovh">
      <div class="preloader"></div>
   <%= render "shared/header" %>

   <%= render "shared/headermobile" %>

    <%= yield %>
  <%= render "shared/footer" %>
    </div>


    <%= javascript_include_tag 'script' %>

  </body>
</html>
