<div id="<%= dom_id account %>">
  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= account.slug %>
  </p>

  <p>
    <strong>Revenue:</strong>
    <%= account.revenue %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= account.status %>
  </p>

  <p>
    <strong>Verify:</strong>
    <%= account.verify %>
  </p>

  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p>

</div>
<section class="inner_page_breadcrumb style4">
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <div class="breadcrumb_content style4">
          <h2 class="breadcrumb_title">Become a seller</h2>
          <p>More than half the units sold in our stores are from independent sellers.</p>
          <%= link_to new_account_path, class: "btn btn-thm " do %>
          Create Accounts
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>



    <div class="row our-vendor pb35 " style="margin-top:30px;">
      <div class="col-lg-6 col-xl-5 offset-xl-1">
        <div class="main-title">
          <h2 class="mtitle">Become A Seller <br class="d-none d-md-block"> & Gain benefits</h2>
          <p>Sell Smarter, Grow Faster with Axis Marketplace Expand your business and reach
             millions of potential
            <br class="d-none d-xxl-block"> buyers on one of the fastest-growing e-commerce platforms.

              <br><br>
            <%= link_to new_account_path, class: "btn btn-thm " do %>
            Create Accounts
            <% end %>
             .</p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5 offset-xl-1">
        <div class="vendor_iconbox style2 d-block d-sm-flex">
          <span class="icon mt10 me-3"><img src="<%= asset_path "icons/step-1.svg" %>" ></span>
          <div class="details ms-0 ms-sm-4 mt-2 mt-sm-0">
            <h3 class="title">Step 1</h3>
            <p>Create an account on our website. It is fast and free.</p>
          </div>
        </div>
        <div class="vendor_iconbox style2 d-block d-sm-flex">
          <span class="icon mt10 me-3"><img src="<%= asset_path "icons/step-2.svg" %>" ></span>
          <div class="details ms-0 ms-sm-4 mt-2 mt-sm-0">
            <h3 class="title">Step 2</h3>
            <p>Upload your products.</p>
          </div>
        </div>
        <div class="vendor_iconbox style2 d-block d-sm-flex">
          <span class="icon mt10 me-3"><img src="<%= asset_path "icons/step-3.svg" %> " ></span>
          <div class="details ms-0 ms-sm-4 mt-2 mt-sm-0">
            <h3 class="title">Step 3</h3>
            <p>We’ll verify your account and then you can start <br class="d-none d-md-block"> selling!</p>
          </div>
        </div>
      </div>
    </div>
