<div class="col-xl-4">
  <div class="recent_activity_widget">
    <h4 class="title mb25">Recent Activity</h4>



    <% if Product.where(user_id: current_user.id).exists? %>
    <% @products.each do |product| %>

    <div class="dashboard-timeline-label">
      <div class="timeline-item pb10">
        <!--begin::Label-->
        <div class="child-timeline-label"><%= product.created_at.strftime('%Y-%m-%d') %> </div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge color2">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10">
          <span class="title"><%= link_to  product.name, product %></span><br>
          <span class="subtitle mb10"><%= product.title %></span>
          <ul class="ra-img mb0 mt10">
            <li class="list-inline-item"><img src="<%= product.prodimage_url.to_s %>" alt=""></li>
            <li class="list-inline-item"><img src="<%= product.prodimage_url.to_s %>" alt=""></li>
          </ul>
        </div>
        <!--end::Text-->
      </div>
    </div>
    <% end %>
    <% else %>


    <div class="dashboard-timeline-label">
      <div class="timeline-item pb10">
        <!--begin::Label-->
        <div class="child-timeline-label">14:37</div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge color3">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10">
          <span class="title">No Products </span>
        </div>
        <!--end::Text-->
      </div>
    </div>
    <% end %>


  </div>
</div>
