<div class="row">
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">My Products</div>
        <div class="title"><%= Product.where(user_id: current_user.id).count %>
      </div>
        <div class="subtitle2"><%= link_to products_path do %><span>View Products</span> <% end %></div>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-money-bag"></i></div>
    </div>
  </div>
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">My Orders</div>
        <div class="title"><%= Order.where(user_id: current_user.id).count %></div>
        <div class="subtitle2"><%= link_to orders_path do %><span>View Orders</span> <% end %></div>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-sent"></i></div>
    </div>
  </div>
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">Transactions</div>
        <div class="title">0</div>
        <div class="subtitle2"><span>90+</span> New Customer</div>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-customer"></i></div>
    </div>
  </div>
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">My Balance</div>
        <% @wallets.each do |a| %>
        <div class="title">XAF<%= a.balance %> </div>
        <div class="subtitle2"><%= link_to a do %><span>View Wallet</span>/Top-up <% end %></div>

        <% end %>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-wallet"></i></div>
    </div>
  </div>
</div>
